# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log

# Cache
.eslintcache/
.idea/
.npm/
.vscode/
.yarnclean
*.tsbuildinfo

# Custom
*.min.js
*.map

# Directories
lib
dist
coverage
tmp
node_modules
.pnp
.pnp.js
build

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
*.env
*.env.*

# test
output/

# package lock files
package-lock.json
pnpm-lock.yaml
